<section id="about" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="img-thumb wow fadeInLeft">
          <img class="img-fluid" src="../assets/img/nasser.jpg" alt="">
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <div class="profile-wrapper wow fadeInRight">
          <h3>Hi Guys!</h3>
<p> I'm highly motivated Junior developer who has shown the ability to work independently or mixed
  with the team, working in the IT sector with technical skills in end-to-end software development
  and web applications designing, possessing knowledge of various software languages and tools
  with the passion about the user experience.
 
  <br>
  Love to learn on my own and keep up with the last trends as I am involved in online courses
  so it can help to acquire new skills and info especially in the technology field. Having a passionate
  in web development..</p>
          <div class="about-profile">
            <ul class="admin-profile">
              <li><span class="pro-title"> Name </span> <span class="pro-detail">Nasser Itani</span></li>
              <li><span class="pro-title"> Age </span> <span class="pro-detail">22 Years</span></li>
              <li><span class="pro-title"> Experience </span> <span class="pro-detail">2 Years</span></li>
              <li><span class="pro-title"> Country </span> <span class="pro-detail">Lebanon</span></li>
              <li><span class="pro-title"> Location </span> <span class="pro-detail">Beirut</span></li>
              <li><span class="pro-title"> e-mail </span> <span class="pro-detail">nasseritani260@hotmail.com</span></li>
              <li><span class="pro-title"> Phone </span> <span class="pro-detail">+ 961-71/238867</span></li>
            </ul>
          </div>
<a href="#" class="btn1 btn-common"><i class="fa fa-paperclip fa-2x"></i> Download Resume</a>
          <a href="#" class="btn1 btn-danger"><i class="fa fa-comments fa-2x"></i> Contact Me</a>
        </div>
      </div>
    </div>
  </div>
</section>