<section id="services" class="services section-margin">
  <h2 class="section-title wow flipInX">What I do</h2>
  <div class="container">
    <div class="row">

      <div class="col-md-6 col-lg-3 col-xs-12">
        <div class="services-item">
          <div class="icon">
            <i class="fa fa-th-large"></i>
          </div>
          <div class="services-content">
            <h3><a href="#">FRONT-END DEVELOPMENT</a></h3>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 col-xs-12">
        <div class="services-item">
          <div class="icon">
            <i class="fa fa-code"></i>
          </div>
          <div class="services-content">
            <h3><a href="#">BACK-END DEVELOPMENT</a></h3>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 col-xs-12">
        <div class="services-item">
          <div class="icon">
            <i class="fa fa-briefcase"></i>
          </div>
          <div class="services-content">
            <h3><a href="#">MOCKUPS</a></h3>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 col-xs-12">
        <div class="services-item">
          <div class="icon">
            <i class="fa fa-support"></i>
          </div>
          <div class="services-content">
            <h3><a href="#">SUPPORT</a></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
