<section class="section-contact" id="contact">
<h2>Contact me</h2>

  <div class="map">

  </div>
  <div class="row">
    <div class="col-md-6 col-lg-4 col-xs-12">
      <div class="contact js--wp-4">
        <h3><i class="fa fa-map contact-icon"></i></h3>
        <p>Beirut,Lebanon</p>
      </div>
    </div>
<div class="col-md-6 col-lg-4 col-xs-12">

     <div class="contact js--wp-4">
        <h3><i class="fa fa-mobile contact-icon"></i></h3>
        <p>+961-71/238867</p>
      </div>
    </div>
<div class="col-md-6 col-lg-4 col-xs-12">

      <div class="contact js--wp-4">
        <h3><i class="fa fa-address-card contact-icon"></i></h3>
        <p>nasseritani260&#64;hotmail.com</p>
      </div>
    </div>
  </div>

</section>
