<section id="resume" class="section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="education wow fadeInRight">
          <ul class="timeline">
            <li>
              <i class="fa fa-graduation-cap"></i>
              <h2 class="timelin-title">Education</h2>
            </li>
            <li>
              <div class="content-text">
                <h3 class="line-title">Bsc In CS - Beirut Arab University</h3>
                <span>2014 - 2017</span>
                <p class="line-text">Graduated with CGPA 3.58.</p>
              </div>
            </li>
            <li>
              <div class="content-text">
                <h3 class="line-title">Higher Secondary School - Ikhaa National School</h3>
                <span>2000 - 2014</span>
                
              </div>
            </li>
           
          </ul>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6">
        <div class="experience wow fadeInRight">
          <ul class="timeline">
            <li>
              <i class="fa fa-briefcase"></i>
              <h2 class="timelin-title">Experience</h2>
            </li>
            <li>
              <div class="content-text">
                <h3 class="line-title">UI Developer - Tyconz</h3>
                <span>Jun 2017 - Present</span>
                
              </div>
            </li>
            <li>
              <div class="content-text">
                <h3 class="line-title">Application Support Internship - CTM</h3>
                <span>Jun 2016 - Sep 2016</span>
                
              </div>
            </li>
           
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
