  
<div id="hero-area" class="hero-area-bg">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 col-sm-12 text-center">
        <div class="contents">
          <h5 class="script-font wow fadeInUp">Hi This is</h5>
          <h2 class="head-title wow fadeInUp">Nasser Itani</h2>
          <p class="script-font wow fadeInUp">Front-end Web Developer</p>
          <ul class="social-icon wow fadeInUp">
            <li>
              <a class="facebook" href="#"><i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a class="twitter" href="#"><i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a class="instagram" href="#"><i class="fa fa-instagram"></i></a>
            </li>
            <li>
              <a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a>
            </li>
            <li>
              <a class="google" href="#"><i class="fa fa-google"></i></a>
            </li>
          </ul>
          <div class="header-button wow fadeInUp"> <a href="#" class="btn1 btn-common">Get a Free Quote</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>